{% extends 'app/base.html' %}
{% block title %}User registration{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			<h3>User Registration</h3>
			<!--{{t.as_p}}-->
			<form method="post">
				{% csrf_token %}
				{% for i in t %}
				<div>{{i}}</div>
				{% endfor %}
				<div class="row">
					<div class="col">
						<input type="reset" value="Reset" class="btn btn-outline-info my-2 form-control">
					</div>
					<div class="col">
						<input type="submit" value="Create User" class="btn btn-outline-danger form-control my-2">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}
