<!DOCTYPE html>
<html>
<head>
	<title>employee details</title>
	<style type="text/css">
		p
		{
			text-align: center;
			background-color: cadetblue;
			color:white;
			padding: 25px;
			margin-left: 40%;
			margin-right: 40%;
		}
		#sample
		{
			margin-left: 23px;
			background-color: pink;
			text-align: center;
			padding: 12px;
		}
		.sa
		{
			margin-right: 20px;
			text-align: center;
			color: green;
			background-color: yellow;
		}
	</style>     
</head>
<body>
    <h3>your name is: <span style="color:green;font-size: 25px">{{n}}</span></h3>
    <h4 id="sample" style="text-align: center">your id is: {{i}}</h4>
    <h1>internel</h1>
    <p>this is an example for internal styling based on tags</p>
    <h4 id="sample">this is an example for internal based on id</h4>
    

    <h4 class="sa">this is an example for class by using internel styling</h4>
    <p class="sa">this is an example</p>
    <h1 class="sa">hi welcome sravani</h1>
</body>
</html>